Certification_case_study3

In [22]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:\\edureka\\certification\\Data_set\\train.csv')
df.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [23]:
df.species.nunique()

99

In [28]:
df.columns
df.drop('id', axis=1,inplace = True)

df[df['species']=='Acer_Opalus'].id.unique()

new = df['species'].str.split("_", n = 1, expand = True) 
df["First Name"]= new[0]
df["Last Name"]= new[1] 
df.head()
df["Last Name"].nunique()

In [29]:
df.head()

,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,0.001953,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,0.000000,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,0.000000,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,0.013672,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,0.000000,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

Label encoding the species feature

In [31]:
from sklearn.preprocessing import LabelEncoder
le_encode = LabelEncoder()
df['species_label'] = le_encode.fit_transform(df.species)
df.head()
df_label = df.drop('species', axis=1)
df_label.head()

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,species_label
0,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,0.001953,0.033203,...,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391,3
1,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,0.000000,0.007812,...,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461,49
2,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,0.000000,0.044922,...,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930,65
3,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,0.013672,0.017578,...,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852,94
4,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,0.000000,0.005859,...,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250,84

In [35]:
df_label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Columns: 193 entries, margin1 to species_label
dtypes: float64(192), int32(1)
memory usage: 1.5 MB

In [38]:
df_label.describe()

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,species_label
count,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,...,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000
mean,0.017412,0.028539,0.031988,0.023280,0.014264,0.038579,0.019202,0.001083,0.007167,0.018639,...,0.005024,0.015944,0.011586,0.016108,0.014017,0.002688,0.020291,0.008989,0.019420,49.000000
std,0.019739,0.038855,0.025847,0.028411,0.018390,0.052030,0.017511,0.002743,0.008933,0.016071,...,0.019321,0.023214,0.025040,0.015335,0.060151,0.011415,0.039040,0.013791,0.022768,28.591824
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.001953,0.001953,0.013672,0.005859,0.001953,0.000000,0.005859,0.000000,0.001953,0.005859,...,0.000000,0.000977,0.000000,0.004883,0.000000,0.000000,0.000000,0.000000,0.000977,24.000000
50%,0.009766,0.011719,0.025391,0.013672,0.007812,0.015625,0.015625,0.000000,0.005859,0.015625,...,0.000000,0.005859,0.000977,0.012695,0.000000,0.000000,0.003906,0.002930,0.011719,49.000000
75%,0.025391,0.041016,0.044922,0.029297,0.017578,0.056153,0.029297,0.000000,0.007812,0.027344,...,0.000000,0.022217,0.009766,0.021484,0.000000,0.000000,0.023438,0.012695,0.029297,74.000000
max,0.087891,0.205080,0.156250,0.169920,0.111330,0.310550,0.091797,0.031250,0.076172,0.097656,...,0.202150,0.172850,0.200200,0.106450,0.578130,0.151370,0.375980,0.086914,0.141600,98.000000

setting up the X and y of train set

In [41]:
df_label_X = df_label.iloc[:,:192]
df_label_X.head()
df_label_y = df_label.iloc[:,192]
df_label_y.head()

0     3
1    49
2    65
3    94
4    84
Name: species_label, dtype: int32

Stratifying the test and train from df_label using StratifiedShuffleSplit and dividing the train set into 80-20 ratio

In [42]:
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.2, random_state=7)
for train_index, test_index in sss.split(df_label_X, df_label_y):
    X_train, X_test = df_label_X.iloc[train_index], df_label_X.iloc[test_index]
    y_train, y_test = df_label_y.iloc[train_index], df_label_y.iloc[test_index]

Using RandomForestClassifier and RandomizedSearchCV to find the best parameters with CV = StratifiedShuffleSplit

Using above: The result is:

{'n_estimators': 336, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
0.9813131313131314

In [46]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

n_estimators = [int(x) for x in np.linspace(start = 10, stop = 500, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(3, 10, num = 1)]
max_depth.append(None)
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]
bootstrap = [True, False]

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

rf = RandomForestClassifier()

rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter =20, cv = sss, verbose=2, random_state=7, scoring='accuracy',n_jobs = -1)
rf_random.fit(df_label_X, df_label_y)

print(rf_random.best_params_)
print(rf_random.best_score_)

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   28.7s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  4.2min finished

{'n_estimators': 336, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
0.9813131313131314

Using the best parameters of  RandomForestClassifiercaptured to find the log_loss // Also changing the random state from 7 to 42
Using the log loss we find that the average probability of accuracy of predicting each class is 47% and the log_loss score is .75. However the accuracy is 0.98

In [65]:
import math
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.2, random_state=42)
for train_index, test_index in sss.split(df_label_X, df_label_y):
    X_train, X_test = df_label_X.iloc[train_index], df_label_X.iloc[test_index]
    y_train, y_test = df_label_y.iloc[train_index], df_label_y.iloc[test_index]
rf_L = RandomForestClassifier(n_estimators = 336, min_samples_split = 2, min_samples_leaf = 1, max_features = 'auto', max_depth = None, bootstrap=True)    
rf_L.fit(X_train, y_train)
y_pred=rf_L.predict(X_test)
score = metrics.log_loss(y_test, rf_L.predict_proba(X_test))
print(metrics.accuracy_score(y_test,y_pred))
print(score)
print(math.exp(-score))

0.98989898989899
0.7569932934364934
0.46907467876451225

Using SVM and GridSearchCV to find the best parameters with CV = StratifiedShuffleSplit
Using above: The result is:
{'C': 100, 'gamma': 0.4, 'kernel': 'rbf'}
0.946969696969697

In [49]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
param_grid = [{'C':[1,10,100,1000],'kernel':['linear']},{'C':[1,10,100,1000],'kernel':['rbf'],'gamma':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]}]
model = SVC()
grid = GridSearchCV(model,param_grid,cv=sss,scoring='accuracy',n_jobs = -1)
grid.fit(df_label_X, df_label_y)
print(grid.best_params_)
print(grid.best_score_)

{'C': 100, 'gamma': 0.4, 'kernel': 'rbf'}
0.946969696969697

In [ ]:
Using the best parameters of  SVM to find the log_loss // Also changing the random state from 7 to 42
Using the log loss we find that the average probability of accuracy of predicting each class is 47% and the log_loss score is .75

In [73]:
import math
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.2, random_state=42)
for train_index, test_index in sss.split(df_label_X, df_label_y):
    X_train, X_test = df_label_X.iloc[train_index], df_label_X.iloc[test_index]
    y_train, y_test = df_label_y.iloc[train_index], df_label_y.iloc[test_index]
from sklearn.svm import SVC
mod = SVC(C = 100, gamma = 0.4, kernel = 'rbf')
mod.fit(X_train, y_train)
pred=svc.predict(X_test)
scores = metrics.log_loss(y_test, mod.predict_proba(X_test))
print(metrics.accuracy_score(y_test,pred))
print(scores)
print(math.exp(-score))

0.9696969696969697

Using Naive Bais the score is very low

In [87]:
type(y_test)
y_test_1 = np.array(y_test).reshape(-1,1)
y_test_1

array([[23],
       [86],
       [98],
       [48],
       [51],
       [97],
       [52],
       [19],
       [40],
       [95],
       [30],
       [35],
       [63],
       [69],
       [12],
       [73],
       [14],
       [56],
       [80],
       [64],
       [ 5],
       [20],
       [21],
       [93],
       [36],
       [97],
       [84],
       [76],
       [65],
       [24],
       [32],
       [ 5],
       [67],
       [60],
       [33],
       [33],
       [89],
       [49],
       [96],
       [15],
       [ 6],
       [17],
       [36],
       [47],
       [67],
       [94],
       [34],
       [39],
       [16],
       [92],
       [79],
       [13],
       [76],
       [78],
       [17],
       [57],
       [72],
       [37],
       [77],
       [82],
       [42],
       [46],
       [46],
       [75],
       [57],
       [58],
       [96],
       [86],
       [54],
       [95],
       [14],
       [41],
       [ 1],
       [50],
       [90],
       [ 2],
       [22],
       [ 6],
       [10],
       [ 0],
       [51],
       [65],
       [89],
       [31],
       [ 0],
       [70],
       [ 9],
       [ 8],
       [87],
       [ 7],
       [55],
       [48],
       [79],
       [71],
       [62],
       [24],
       [98],
       [39],
       [92],
       [ 3],
       [88],
       [47],
       [58],
       [34],
       [49],
       [56],
       [ 3],
       [38],
       [54],
       [16],
       [72],
       [25],
       [52],
       [53],
       [87],
       [62],
       [91],
       [83],
       [80],
       [69],
       [28],
       [45],
       [50],
       [35],
       [20],
       [74],
       [26],
       [ 2],
       [29],
       [83],
       [42],
       [75],
       [59],
       [81],
       [81],
       [11],
       [70],
       [45],
       [74],
       [41],
       [22],
       [25],
       [85],
       [11],
       [78],
       [26],
       [38],
       [84],
       [23],
       [71],
       [66],
       [18],
       [93],
       [73],
       [29],
       [82],
       [94],
       [ 4],
       [90],
       [85],
       [37],
       [91],
       [44],
       [31],
       [44],
       [60],
       [27],
       [12],
       [66],
       [19],
       [21],
       [68],
       [59],
       [43],
       [ 7],
       [18],
       [10],
       [68],
       [ 1],
       [61],
       [32],
       [88],
       [61],
       [55],
       [77],
       [27],
       [53],
       [40],
       [ 9],
       [30],
       [43],
       [15],
       [ 4],
       [63],
       [28],
       [ 8],
       [64],
       [13]])

In [88]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)
gnb_pred = gnb.predict(y_test_1)
print(metrics.accuracy_score(y_test_1,gnb_pred))

0.010101010101010102

Therefore we will use the RandomForest Classifier with the best_params selected to use for the test dataset

In [97]:
df = pd.read_csv('C:\\edureka\\certification\\Data_set\\test.csv')
df_test = df.drop('id', axis=1)
df_test.head()

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,0.023438,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,0.023438,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,0.005859,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,0.001953,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,0.000000,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [98]:
test_pred=rf_L.predict(df_test)
test_pred

array([51, 50,  1, 19, 14,  3,  3, 28, 84,  8, 43, 74, 75, 10, 52, 46, 45,
       73, 13, 71, 61, 68, 57, 77,  1, 70, 28, 15, 35, 70, 53, 74, 47, 50,
        4, 36, 14, 55, 36, 93,  8, 32,  8,  9, 71, 70, 38, 23, 94, 18, 17,
        5, 55, 94, 14, 86, 62, 33, 51, 98, 88, 56, 21, 59, 65, 11, 48,  5,
       13,  4, 54, 57, 29,  7, 31, 98, 92, 84, 25, 10, 61, 43, 85, 24,  1,
        2, 23, 83, 40, 22, 48, 90, 25, 21, 37, 56, 41, 95,  7, 89, 98, 77,
        3, 12, 31, 84, 53, 96, 64, 72, 93, 93, 67, 30,  8, 88, 60, 87,  6,
       57, 34, 34, 60, 17, 75, 27, 51, 31, 39, 23, 23,  2, 41, 61, 24, 97,
       29, 28, 68, 81, 42, 51, 86, 62, 60, 52, 95, 64, 42, 96, 95, 20, 59,
       35, 86,  1, 26, 38, 43, 75, 20, 60, 46, 79, 22, 79, 55, 87, 65, 97,
       75, 21, 29, 21, 11, 10, 58, 94, 27, 22, 15, 45, 89, 54, 43,  5, 23,
       94, 40, 49, 89, 72, 36, 11, 81, 95, 18, 91, 29, 64, 80,  6, 78, 45,
       28,  9, 78, 90, 44, 89, 92, 13,  2, 59,  0, 96, 70, 32, 29, 78, 91,
       55, 44, 38,  5, 60, 49, 58, 94, 67, 92, 88, 90, 79, 25, 37, 18,  0,
       76, 27, 70, 71, 44, 70, 32, 90, 30, 82, 40, 30, 82, 96, 48, 65, 57,
       64, 26, 53, 55, 73,  9,  3, 83, 26, 30, 63, 17, 22, 79, 63, 12, 78,
       36, 14, 27, 25, 22, 38, 20, 54, 76, 69, 67, 97, 80, 44, 92, 69, 23,
       21, 16, 51, 33, 77, 16, 11, 97,  1, 52, 39, 24, 52, 42, 17,  2, 73,
       96, 83, 88,  9, 63, 50, 16, 38, 87, 95,  3, 35, 83, 60, 59, 58,  0,
       50, 62, 38, 93, 68, 53, 46, 19, 46, 94, 18,  0, 33, 89, 40, 62, 48,
       42,  6, 31, 91, 73, 81, 12, 85, 47,  6, 45, 34, 22, 35, 43,  6, 80,
       78, 82,  5, 61, 37, 43, 33, 69, 56, 71, 45, 59, 42, 66, 86, 98, 83,
       90, 64, 82, 11, 79, 56, 76, 49, 48, 20, 74, 15, 33, 49, 89, 44,  7,
       35, 13, 55, 23, 34, 44, 32, 30, 36,  9, 72, 31, 61, 50, 82, 34, 29,
       22, 92, 72, 11, 19,  4, 87, 51, 71, 39, 84, 32, 66, 34, 41, 31, 80,
        4, 26, 68, 96, 20, 40, 34, 39, 56, 73, 76, 84,  7, 67, 37,  8, 95,
       85, 62, 10, 65, 41,  2, 17, 86, 41, 52,  3, 49, 47, 76, 52, 16, 26,
       88, 63, 45, 39, 66, 87, 75, 74,  7, 64, 65, 78, 63, 56, 21, 61, 88,
       62, 91, 59, 12, 74, 15, 85,  8, 66, 57, 83, 82, 72, 58, 24, 17, 67,
       66, 57, 66, 75, 35, 18,  9, 54, 91, 65, 19, 15, 10, 24, 71, 69, 48,
       39, 98, 16, 19, 45, 74,  6,  3, 42, 34, 71, 47, 85, 28, 85, 47, 25,
       27, 58, 68, 84, 97, 63, 97, 76, 81, 87, 77, 13,  0, 28, 41, 14, 12,
       33, 86, 46,  4,  4, 47, 30, 19, 58, 13, 77, 98,  5, 49, 72, 53, 32,
       77, 40, 68, 26, 92, 16, 81, 37, 14, 93, 80, 53, 46, 25, 50,  7, 37,
       93,  0, 20, 54, 10, 91, 40, 81, 53, 18, 27,  1, 12, 54, 73, 15])

In [99]:
df_test['specieslabel'] = test_pred
df_test.head()

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,specieslabel
0,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,0.023438,...,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711,51
1,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,0.023438,...,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922,50
2,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,0.005859,...,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000,1
3,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,0.001953,...,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789,19
4,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,0.000000,...,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812,14