In [3]:
import pandas as pd
seaplane = pd.read_csv('C:\\edureka\\PR_Class_13\\Data_set\\SeaPlaneTravel.csv',parse_dates=['Month'], index_col='Month')
seaplane.head()

            #Passengers
Month
2003-01-01          112
2003-02-01          118
2003-03-01          132
2003-04-01          129
2003-05-01          121

# or use the following code
seaplane = pd.read_csv('C:\\edureka\\PR_Class_13\\Data_set\\SeaPlaneTravel.csv')
seaplane['Month'] = pd.to_datetime(seaplane['Month'])
indexed_seaplane = seaplane.set_index('Month')
indexed_seaplane.head()