K Fold cross validation - practise class 14

In [10]:
import pandas as pd
from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [3]:
diab = pd.read_csv('C:\\Users\\140524\\Desktop\\working_edu\\codes_in_class_14\\Diabetes.txt', names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'])
diab.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [7]:
X = diab.iloc[:,0:8]
X.head()

   preg  plas  pres  skin  test  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [8]:
y = diab.iloc[:,8]
y.head()

0    1
1    0
2    1
3    0
4    1
Name: class, dtype: int64

In [15]:
kf = KFold(n_splits=10, random_state=7)
ada_scores=[]
model = AdaBoostClassifier(n_estimators=30, random_state=7)
scores = cross_val_score(model,X,y,cv=kf,scoring='accuracy')
ada_scores.append(scores)
ada_scores

[array([0.67532468, 0.80519481, 0.7012987 , 0.68831169, 0.75324675,
        0.80519481, 0.79220779, 0.83116883, 0.73684211, 0.81578947])]